{% extends 'base.html'%}

{% block title %}
Expense Category
{% endblock title %}

{% block content %}
<main>
    <h1>My Expense Categories</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Number of Receipts</th>
        </tr>
        {% for item in categories %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.receipts.all|length}}</td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock content %}
