{% extends 'base.html'%}

{% block title %}
Accounts
{% endblock title %}

{% block content %}
<main>
    <h1>My Accounts</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Number of Receipts</th>
        </tr>
        {% for item in accounts %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.number}}</td>
            <td>{{item.receipts.all|length}}</td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock content %}
