{% extends 'base.html'%}

{% block title %}
Receipts
{% endblock title %}

{% block content %}
<main>
    <h1>My Receipts</h1>
    <table>
        <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
        </tr>
        {% for item in receipts %}
        <tr>
            <td>{{item.vendor}}</td>
            <td>{{item.total}}</td>
            <td>{{item.tax}}</td>
            <td>{{item.date|date:"m/d/y"}}</td>
            <td>{{item.category}}</td>
            <td>{{item.account.name}}</td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock content %}
